@import "tailwindcss";

body {
  font-family: 'Tajawal', sans-serif;
  background-color: #0a0a0a;
  color: #ffffff;
  margin: 0;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/Minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html { scroll-behavior: smooth; }
